.coord-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coord-flex>p {
    margin-left: 1rem;
}

.center>button {
    background: var(--main-color1);
}

.center>button:hover {
    background: white;
    color: var(--main-color2);
}

.form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    width: 90%;
    background: var(--base-gradient);
    color: white;
    border-radius: 16px;
    padding: 2rem;
    font-size: 1.3rem;
}

.center {
    display: grid;
    place-items: center;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}

.input-text {
    display: flex;
    flex-direction: column;
}

form {
    width: 70%
}

.input-box input {
    height: 2rem;
    border-radius: 4px;
    padding-left: .5rem;
    font-size: 1.2rem;
}

.details {
    font-weight: 500;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.input-text textarea {
    border-radius: 4px;
    padding-left: .5rem;
    font-size: 1.2rem;
}

.wide-button {
    padding: 1rem;
    background-color: white;
    color: var(--main-color1);
    border: none;
    border-radius: 4px;
    margin: 1rem;
    font-weight: bold;
    transition: .3s ease-out;
    cursor:pointer;
    width: 100%;
    font-size: 1.2rem;
}

.wide-button:hover {
    background-color: var(--main-color1);
    color: white;
}

@media only screen and (max-width: 600px) {
    form {
        width: 95%
    }
}