.footer {
    color: white;
    background: linear-gradient(135deg, #933952, #420919);
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}