
.pres-bg {
    background-color: var(--main-color1);
}

.pres { 
    padding: 2rem;  
    
}

.pres>h2 {
    margin-top: 2rem;
    color: var(--main-color4);
}

.pres>p {
    color: var(--main-color4);
}

@media only screen and (max-width: 600px) {
    .pres {
        margin: auto;
        width: auto;
    }
}

@media only screen and (min-width: 600px) {
    .pres {
        margin: 1.5rem 0;
        max-width: 80rem;
    }
}