
.pres {
    margin: 5rem;
    padding: 2rem;
    border-radius: 16px;
    border: 2px solid var(--main-color3);
    max-width: 800px;
    background-color: var(--main-color1);
}

.pres>h2 {
    margin-top: 2rem;
    color: white;
}

.pres>p {
    color: white;
}

@media only screen and (max-width: 600px) {
    .pres {
        margin: auto;
        width: 80%;
    }
}