.project-box {
    /* margin: 3rem;
    padding: 2rem; */
    border-radius: 16px;
    border: 2px solid #933953;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-box:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.grid1 {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}