@import './style/Button.css';
@import './style/Contact.css';
@import './style/Footer.css';
@import './style/Navbar.css';
@import './style/Pres.css';
@import './style/Projects.css';
@import './style/Skills.css';
@import './style/Video.css';



* {
    font-family: 'Jura', sans-serif;
}

p, h1, h2, h3, h4 {
    color: var(--main-color3);
}

h1 {
    color: var(--main-color4);
}

:root {
    font-size: 16px;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--main-color1);
}

body::-webkit-scrollbar-thumb {
    background: var(--main-color2);
}

body {
    margin: 0;
    padding: 0;
}

main {
    background-color: rgb(255, 255, 255);
    margin-left: 5rem;
    height: 100vh;
}

.count {
    display: flex;
    text-align: center;
}

.pad1 {
    padding: 0 1rem;
}

.banner {
    background-color: var(--main-color3);
    display: flex;
    height: 20rem;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
}

.pic-div {
    width: 40%;
    display: grid;
    place-items: center;
}

.pic {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}

.title {
    width: 60%;
    font-size: 2rem;
}

h2 {
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: var(--main-color1);
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--main-color2);
}

.bg-red {
    background: var(--main-color1)
}

@media only screen and (max-width: 600px) {
    main {
        margin: auto;
    }

    .title {
        width: 60%;
        text-align: center;
        font-size: 1rem;
    }

    .banner {
        flex-direction: column-reverse;
        height: 22rem;
    }

    .pic-div {
        width: 100%;
        padding-bottom: 2rem;
    }

    .pic {
        height: 10rem;
        width: 10rem;
    }

    h1 {
        font-size: 1.3rem;
    }
    
}

@media only screen and (min-width: 600px) {
    .t13rem {
        font-size: 1.3rem;
    }
}